body {
  width: 80%;
  margin: 0 auto; }

.searchbar {
  text-align: center;
  padding-top: 25px; }
  .searchbar input {
    width: 50%;
    height: 30px;
    padding-left: 10px; }

.slides {
  text-align: center; }
  @media (min-width: 425px) {
    .slides {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; } }
  .slides p {
    display: none; }

.pic {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 425px) {
    .pic {
      flex-basis: 30%;
      width: 200px;
      height: auto; } }
